<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" value="<%= usuario.nome %>">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Digite seu email" value="<%= usuario.email %>">
</div>
<div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" name="senha" placeholder="Digite sua senha" value="<%= usuario.senha %>">
</div>
<div class="form-group">
<button type="submit" class="btn btn-red-default">Cadastrar</button>
</div>