<!DOCTYPE html>
<html>

<head>

    <%- include('partials/head.ejs')%>

</head>

<body>
    <header>

        <%- include('partials/header.ejs')%>
    </header>

    <main>
       
            <%- body %>
       
    </main>


    <%- include('partials/footer.ejs')%>


    <script src="js/bootstrap.min.js" type="text/js"></script>
    <script src="js/jquery-3.5.1.min.js" type="text/js"></script>

</body>

</html>