<%- contentFor('body') %>
<section id="categorias">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 lista_produto">
                <h4>Produtos</h4>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="preview">
                            <img class="img-responsive" src="" alt="">
                        </div>
                        <div class="info">
                            <a href="">Item 1</a>
                        </div>
                        <div class="price">
                            <strong>R$ 10,00</strong>
                            <a href="" class="btn btn-default">Veja Mais</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>