<section class="detalhe-produto">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 img-preview">
                <img src="" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-6 produto-info">
                <h1 class="upper">Produto teste</h1>
                <div class="pag-info">
                    <p>
                        <strong>R$ 10,00</strong>
                    </p> 
                </div>
                <div class="other-info">
                    <ul class="list-group">
                        <li class="list-goup-item">
                            <label for="">indisponível</label>
                            <span>yes</span>
                        </li>
                    </ul>
                </div>
                <div class="pag-acao">
                    <form action="">
                        <button class="btn-default"></button>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</section>