<%- contentFor('body') %>
    <section id="login">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h4 class="title upper bold"> Quero me Cadastrar</h4>
              <a href="/usuarios/registro" class="btn btn-default">Criar agora uma nova conta</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h4 class="title upper bold"> Acessar Minha Conta</h4>
              <form action="#">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" class="form-control" placeholder="Digite seu endereço de Email">
                </div>
                <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="senha" class="form-control" placeholder="Digite sua senha">
                </div>
                <div class="form-group">
                  <a href="#">Esqueci minha senha</a>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>