<%- contentFor('body') %>
<section id="registro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="title upper bold">Registre-se</h4>
                <span class="subtitle"> Criar uma nova conta</span>
            </div>
            <div class="col-xs-12">
                <form action="#" method="POST">
                    <div class="form-group">
                    <label for="nome">Nome</label>
                     <input type="nome" class="form-goup" placeholder="Digite seu nome">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>